<section class="bg-img d-flex align-items-center"
         [ngStyle]="{'background': 'linear-gradient(rgba(21, 32, 43, 0.5), rgba(21, 32, 43, 0.5)), url(' + anime.backgroundPath + ')'}">
    <div class="container">
        <div class="row">
            <div class="col-12 text-white text-center font-architects-daughter text-uppercase">
                <h1>{{anime.original_name}}</h1>
                <h2>{{anime.name}}</h2>
            </div>
            <div class="col-12 text-center">


                <div class="dropdown" *ngIf="!myAnimeIdSeeList.includes(anime.id)">
                    <button class="border-0 bg-transparent p-0" [attr.id]="'dropdownMenuButton'+anime.id"
                            data-bs-toggle="dropdown" aria-expanded="false">
                        <img class="img-fluid icon-white me-2 hover-zoom" src="../../assets/img/SVG/add.svg" width="30"
                             height="30" alt="+ pour ajouter dans une liste">
                    </button>

                    <ul class="dropdown-menu" [attr.aria-labelledby]="'dropdownMenuButton'+anime.id">
                        <li *ngFor="let list of userLists" (click)="addAnimeList(anime.id, list._id,mappedGenres)"><a
                            class="dropdown-item cursorPointer">{{
                            list.label }}</a></li>
                    </ul>,
                </div>

                <div class="border-0 bg-transparent p-0" *ngIf="myAnimeIdSeeList.includes(anime.id)">
                    <img class="img-fluid" src="../../assets/img/SVG/added.svg" height="30" width="30" alt="Rond coché car animé ajouté à une liste">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="m-5 mb-O px-4">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Découvrir</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{anime.original_name}}</li>
        </ol>
    </nav>
</section>

<section class="my-5 sectionDetail">
    <div class="container">
        <ul class="nav nav-pills justify-content-center mb-3" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="pills-infos-tab" data-bs-toggle="pill" data-bs-target="#pills-infos"
                        type="button" role="tab" aria-controls="pills-infos" aria-selected="true">
                    <img src="../../assets/img/SVG/infos.svg" class="img-fluid icon-nav icon-main" height="20"
                         width="20" alt="Bulle informative pour afficher l'onglet des informations de l'animé">
                    Infos
                </button>
            </li>
            <li *ngIf="saisons.length" class="nav-item" role="presentation">
                <button class="nav-link" id="pills-episodes-tab" data-bs-toggle="pill" data-bs-target="#pills-episodes"
                        type="button" role="tab" aria-controls="pills-episodes" aria-selected="false"
                        (click)="getEpisodesSaison()"
                        #episodesBtn>
                    <img src="../../assets/img/SVG/episodes.svg" class="img-fluid icon-nav icon-main" height="20"
                         width="20" alt="Listes pour afficher l'onglet des épisodes">
                    Episodes
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-avis-tab" data-bs-toggle="pill" data-bs-target="#pills-avis"
                        type="button"
                        role="tab" aria-controls="pills-avis" aria-selected="false" (click)="getComment()" #commentsBtn>
                    <img src="../../assets/img/SVG/avis.svg" class="img-fluid icon-nav icon-main" height="20"
                         width="20" alt="Etoile pour afficher l'onglet des avis">
                    Avis
                </button>
            </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-infos" role="tabpanel" aria-labelledby="pills-infos-tab">

                <div class="row my-5">
                    <div class="col-md-4 text-center">
                        <img *ngIf="anime.backdrop_path" class="img-fluid" src="{{'https://image.tmdb.org/t/p/w500/' + anime.backdrop_path}}" alt="Image de l'animé">
                    </div>
                    <div class="col-md-8 mt-3 mt-md-0">
                        <div class="d-flex justify-content-center justify-content-md-start">
                            <div *ngFor="let genre of this.genres">
                                <div class="bg-main text-white px-4 py-3 me-2" *ngIf="genre.nom != 'Animation'">
                                    <img class="icon-white" src="../../assets/img/SVG/genres/{{genre.id}}.svg"
                                         width="20" height="20" alt="Carte du genre {{genre.nom}}">
                                    <span class="ms-2 fw-bold">{{genre.nom}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="my-4">
                            <p>
                                <img class="img-fluid icon-main" src="../../assets/img/SVG/status.svg" height="15"
                                     width="15" alt="Point d'interrogation">
                                <span class="fw-bold"> Status : </span>
                                {{anime.enCours ? 'En cours' : 'Terminée'}}
                                <small class="bg-main text-white fw-bold p-1">{{changeDate(anime.first_air_date)}} >
                                    {{changeDate(anime.last_air_date)}}</small> 
                            </p>
                            <p>
                                <img class="img-fluid icon-main" src="../../assets/img/SVG/classification.svg"
                                     height="15" width="15" alt="Bulle informative de la classification">
                                <span class="fw-bold"> Classification : </span>
                                {{anime.adult ? '18+' : 'Tout public'}}
                            </p>
                        </div>
                        <div class="my-4">
                            <p class="fw-bold mb-1">
                                Synopsis
                            </p>
                            <p>{{anime.overview}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-episodes" role="tabpanel" aria-labelledby="pills-episodes-tab">

                <div class="accordion accordion-flush" id="accordionFlushExample">
                    <div class="accordion-item border-0" *ngFor="let saison of saisons">
                        <h2 class="accordion-header" [attr.id]="'flush-heading' + saison.nbSaison">
                            <button class="accordion-button my-2 collapsed" type="button" data-bs-toggle="collapse"
                                    [attr.data-bs-target]="'#flush-' + saison.nbSaison"
                                    [attr.aria-controls]="'flush-' + saison.nbSaison"
                                    (click)="getEpisodesSaison(saison.nbSaison)"
                                    [attr.aria-expanded]="saison.nbSaison == 1 ? false: true ">
                                Saison {{saison.nbSaison}}
                                <div class="w-85 ms-auto text-end">
                                    <input class="saison-input d-none" id="s1" type="checkbox" name="saisons"/>
                                    <label class="saison-label" for="s1">
                                        <img src="../../assets/img/SVG/notseen.svg" width="20" height="20" alt="Oeil barré car la saison n'a pas été vue" >
                                    </label>
                                </div>
                            </button>
                        </h2>
                        <div id="flush-{{saison.nbSaison}}" class="accordion-collapse collapse"
                             [attr.labelledby]="'flush-heading' + saison.nbSaison"
                             data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body p-0">
                                <div class="row">
                                    <div class="col-12 mb-1 noselect position-relative"
                                         *ngFor="let episode of saison.episodes.episodes">
                                        <input class="episode-input" [attr.id]="episode.id" type="checkbox"
                                               name="episodes"
                                               [checked]="episodesView.includes(episode.id)"/>
                                        <label class="episode-label px-5 py-3" [attr.for]="episode.id"
                                               (click)="changeStateViewEpisode($event, episode.id,0)">
                                            Episode {{episode.episode_number}} : {{episode.name}}
                                            <img *ngIf="episodesView.includes(episode.id)"
                                                 src="../../assets/img/SVG/see.svg" width="20"
                                                 height="20" alt="Oeil indiquant que l'épisode a été vu">
                                            <img *ngIf="!episodesView.includes(episode.id)"
                                                 src="../../assets/img/SVG/notseen.svg"
                                                 width="20" height="20" alt="Oeil barré indiquant que l'épisode n'a pas été vu ">

                                        </label>                                 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-avis" role="tabpanel" aria-labelledby="pills-avis-tab">
                <div class="comments">
                    <div class="comment mx-4 mb-5" *ngFor="let comment of comments">
                        <div class="ms-3 mb-4 d-flex align-items-center">
                            <img ngxGravatar [email]="comment.idUser" alt="Avatar fictif" />
                            <small class="fw-bold ms-2"
                                   [ngClass]="{'color-main': comment.nomUser == username}">{{comment.nomUser}}</small>
                        </div>
                        <p>{{comment.contenu}}</p>
                    </div>
                </div>
                <div class="new-comment mx-4 my-5 position-relative">
                    <div>
                        <form>
                            <label for="exampleFormControlTextarea1" class="form-label">Laisse ton commentaire</label>
                            <textarea [formControl]="comment" class="form-control overflow-hidden"
                                      id="exampleFormControlTextarea1"
                                      rows="2"></textarea>
                        </form>
                    </div>
                    <button class="border-0 bg-transparent p-0 position-absolute btn-send" (click)="addComment()">
                        <img class="icon-main" src="../../assets/img/SVG/send.svg" width="20" height="20" alt="Bouton sous forme de fleche pour poster le commentaire">
                    </button>
                </div>

            </div>
        </div>
    </div>
</section>
