<div class="responsive-logo position-absolute top-0 start-50 translate-middle-x">
    <img class="img-fluid" src="../../../assets/img/logo-text-bgwhite.png" alt="Logo du site">
</div>

<section class="bg-img d-flex align-items-center">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="responsive-size col-lg-6 bg-white p-5">
                <div class="text-center">
                    <a class="d-flex flex-column align-items-center">
                        <img src="../../../assets/img/SVG/profile.svg" width="50" height="50"
                            alt="Logo par défaut de l'utilisateur">
                    </a>
                    <h1 class="text-center text-uppercase color-main font-architects-daughter mt-2">Vous êtes banni</h1>
                    <p class="m-0">Ceci est la raison pour laquelle vous ne pouvez plus accéder au site</p>
                    <small>Vous pourrez revenir le dd/mm/yyyy</small>
                </div>


            </div>
        </div>
    </div>
</section>