section {
    padding-top: 80px;
    min-height: 94vh;
}

.title {
    border-bottom: 2px solid var(--main-color);
    color: var(--main-color);
}

.table {
    --bs-table-striped-bg: var(--main-light-red);
}

.comment {
    padding: 1.125em 1.5em;
    border-radius: 1rem;
    box-shadow: 0 0.125rem 0.5rem rgb(211 211 211 / 35%),
        0 0.0625rem 0.125rem rgb(0 0 0 / 20%);
}
