<section class="rgpd">
    <div class="container">
        <h1>Mentions légales et politique de confidentialité</h1>
        <p>
            L'association Ynov,soucieuse  des droits des individus, notamment au regard des traitements automatisés et
            dans une volonté de transparence avec ses clients, a mis en place une politique reprenant l’ensemble de
            ces traitements, des finalités poursuivies par ces derniers ainsi que des moyens d’actions à la
            disposition des individus afin qu’ils puissent au mieux exercer leurs droits.
        </p>

        <p>
            Pour toute information complémentaire sur la protection des données personnelles,nous vous invitons à consulter le site
            <a href="https://www.cnil.fr/" target="_blank" >https://www.cnil.fr/</a>
        </p>

        <p>
            La poursuite de la navigation sur ce site vaut acceptation sans réserve des dispositions et conditions d'utilisation
            qui suivent.
        </p>

        <p>
            La version actuellement en ligne de ces conditions d'utilisation est la seule opposable pendant toute la
            durée d'utilisation du site et jusqu'à ce qu'une nouvelle version la remplace.
        </p>

        <div *ngFor="let article of articles">
            <h2 >{{article.title_fr}}</h2>
            <div *ngFor="let paragraph of article.paragraphs">
                <p *ngIf="paragraph.class !== 'listElement'" [class]="paragraph.class">{{paragraph.text_fr}}</p>
                <ul *ngIf="paragraph.class === 'listElement'"><li>{{paragraph.text_fr}}</li></ul>
            </div>
        </div>   
    </div>
</section>
